* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .container-users {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: #fff;
  }
  
  .nome{
    padding-top: 50px;
    font-size: 14px;
    color: #adadad;
    line-height: 1.5;
  }